/*
* This boilerplate is based in ITCSS and SMACSS
* Boilerplate URI: https://gitlab.com/2062nandes/nandes-boilerplate
* Author: Fernando Averanga Aruquipa
* Author URI: nandes.ingssistemas@gmail.com
* Description: This boilerplate is based in ITCSS and SMACSS, based on Edgrid, EDboilerplate
*/

// Base and elements (generic)
@import "base/base";

// Config
@import 'config/functions';
$cssCore: false;
$cssHelpers: true;
$devMode: false;
$container : contenedor;
$item      : item;
$max-width : 1050px;
$breakpoints : (
  s  : 0,
  m  : 550px,
  l  : 840px,
  xl  : 1024px,
);
@import "config/variables";
@import "config/mixins";

// LAYOUT
  // Escribe solo los estilos de layout (division en regiones del viewport)
@import "layout/layout";

// MODULOS (SMACSS) O COMPONENTES (ITCSS)
  // Son los elementos de UI de tu interfaz, como botones, tablas, menus, etc.
  // Crea los archivos adicionales que necesites (uno por componente)
@import "components/animated";
@import "components/components";
@import "components/menu";
@import "components/forms";
@import "components/buttons";
@import "components/products";
@import 'components/baguettebox';

// Theme (colors and fonts)
@import "theme/typography";

// Utilities (hacks)
  // Todos los hacks que hayas necesitado para solucionar conflictos
  // o resolver situaciones extremas. Se espera poder mejorarlos luego.
@import "hacks/hacks";
