extends ../includes/template
block main  
  section.slider
    .contenedor
      p.slider__title 
        | LÍDERES EN CALIDAD DE CANALETAS 
        br
        | DE ALUMINIO SIN UNIONES,
        | REMODELACIONES  Y MANTENIMIENTO DE EDIFICIOS COMERCIALES Y RESIDENCIALES
        br
        a.slider__down(data-scroll href='#servicios') >
  section.servicios#servicios
    h1.section__title SERVICIOS
    .contenedor
      figure.col
        a(href="#")
          img(src='img/b.jpg', alt='')
        figcaption
          h3.section__subtitle
            a(href="#") Canaletas - Gutters
          p
            | El proceso de fabricación de estas Canaletas Pluviales está sujeto bajo estándares de alta calidad, manteniendo la estética y decoración  de lugares y ambientes en las que son instaladas. Es importante mencionar que  el material utilizado  brinda firmeza, durabilidad y a la vez es un material liviano por las características  de la materia prima utilizada. Las canaletas,  bajantes y codos pluviales vienen de fábrica pre pintando con esmalte al horno. (Colores disponibles blanco y café).
          footer.center
            a(href="#").button__initial Ver más
      figure.col
        a(href="#")
          img(src='img/c.jpg', alt='')
        figcaption
          h3.section__subtitle 
            a(href="#") Remodelaciones
          p
            | MRHH, es una Empresa 16  años de experiencia en el área  de la  construcción de edificios Comerciales y Residenciales, cocinas,  banos, terrazas, etc.  nuestra Empresa  se dedica a la realización de mantenimientos integrales, obras, reformas, remodelaciones,  oficinas y comunidades, supermercados, colegios, hospitales, hoteles, vías públicas, en toda la Comunidad Cochabamba
          footer.center
            a(href="#").button__initial Ver más
      figure.col
        img(src='img/a.jpg', alt='')
        figcaption
          h3.section__subtitle Servicios generales y venta de productos para la construcción
          p
            | Proveemos los servicios de, carpintería, plomería, electricidad, pintura mantenimientos integrales, en el área de obras y reformas , también pretendemos facilitar un gran listado de trabajos : en remodelaciones,  oficinas ,locales , supermercados, colegios, hospitales, hoteles, vías públicas oficinas, domicilios particulares. productos que ofrecemos son sellantes para ventanas puertas, duchas, techos etc.
  section.nosotros#nosotros
    .contenedor
      .col.wow.fadeInRight(data-wow-duration="2s" data-wow-delay="0s")
        h1.section__title NOSOTROS
        p
          | La Empresa MrHH tiene más de 16 años de trayectoria y experiencia en la fabricación e instalación de Canaletas Pluviales de aluminio, sin uniones ni soldaduras, con Tecnología Americana y materiales  importados desde Estados Unidos. 
          br
          br
          | El proceso de fabricación de estas Canaletas Pluviales está sujeto bajo estándares de alta calidad, manteniendo la estética y decoración  de lugares y ambientes en las que son instaladas. Es importante mencionar que  el material utilizado  brinda firmeza, durabilidad y a la vez es un material liviano por las características  de la materia prima utilizada. Las canaletas,  bajantes y codos pluviales vienen de fábrica pre pintando con esmalte al horno. (Colores disponibles blanco y café). Si requieren un color especifico el costo es adicional.  
          br
          br
          | Nuestro objetivo fundamental es posicionarnos a nivel nacional como la única empresa líder en el rubro de Fabricantes de Canaletas Pluviales de Aluminio sin uniones ni soldaduras y así mismo ser reconocidos por la  confianza y calidad de servicio  al cliente. 
          br
          br
          | Nuestros productos  son garantizados y certificados por la Compañía Lynch Aluminum MFG Co. Ubicado en los Estados Unidos de Norte América, Illinois City Peoria.  
          br
          br
          | Contamos con personal altamente calificado, para la fabricación e instalación de nuestros productos, así mismo realizamos servicios de mantenimiento de las mismas.
  section.datos
    .contenedor
      .col25.col25_border
        h5.year__number 2001
        h2.section__subtitle <center>Años de Establecimiento</center>
      .col25.col25_border
        h5.year__number 70
        h2.section__subtitle <center>Proyectos Completados</center>
      .col25.col25_border
        h5.year__number 89
        h2.section__subtitle <center>Constructores Contratados</center>
      .col25.col25_border
        h5.year__number 1
        h2.section__subtitle <center>Premios Obtenidos</center>
  section.proyectos#proyectos
    h1.section__title PROYECTOS
    #instafeed-gallery-feed.contenedor
      //- .proyectos__card
        .proyectos__card_content
          img(src="img/c.jpg", alt="")
          .proyectos__card_descrip
            p prueba //
    
    .contenedor#instagram
      button#btn-instafeed-load.button__initial Ver más
  section.construccion
    h1.section__title PRODUCTOS DE CONSTRUCCIÓN
    .contenedor
      .product
        .product__content
          img.product__img.product__img_logo(src="img/prod01.png", alt="")
          img.product__img.product__img_prod(src="img/prod01-logo.png", alt="")
      .product
        .product__content
          img.product__img.product__img_logo(src="img/prod01.png", alt="")
          img.product__img.product__img_prod(src="img/prod01-logo.png", alt="")
      .product
        .product__content
          img.product__img.product__img_logo(src="img/prod01.png", alt="")
          img.product__img.product__img_prod(src="img/prod01-logo.png", alt="")
      .product
        .product__content
          img.product__img.product__img_logo(src="img/prod01.png", alt="")
          img.product__img.product__img_prod(src="img/prod01-logo.png", alt="")
      .product
        .product__content
          img.product__img.product__img_logo(src="img/prod01.png", alt="")
          img.product__img.product__img_prod(src="img/prod01-logo.png", alt="")
  section.section__contact#contactos
    h1.section__title Contactos
    .contenedor
      object.map(data="./mrhh-googlemap/", type="text/html")
      .col60.wow.fadeInRight(data-wow-duration="2s" data-wow-delay="0.2s")
        h2.section__subtitle Preguntas
        p.section__text Para todo tipo de preguntas, comentarios e inquietudes; por favor llámanos: 4297710 - 75942929 o completa el formulario a continuación
        form.form.form_contact(v-on:submit.prevent="submitForm")
          .item
            input.form__input(v-model="vue.nombre" type="text" required="" placeholder="Nombre completo")
          .item
            input.form__input(v-model="vue.telefono" type="number" required="" placeholder="Teléfono")
          .item
            input.form__input(v-model="vue.movil" type="number" required="" placeholder="Celular")
          .item
            input.form__input(v-model="vue.direccion" type="text" required="" placeholder="Dirección")
          .item
            input.form__input(v-model="vue.ciudad" type="text" required="" placeholder="Ciudad")
          .item
            input.form__input(v-model="vue.email" type="email" required="" placeholder="Email")
          .item
            textarea.form__input(v-model="vue.mensaje" name="", cols="30", rows="10" required="" placeholder="Mensaje") 
          .form_buttons
            button.form__button(type="submit") Enviar
            button.form__button(v-on:click="clearForm()") Limpiar
          .statusMessage(v-if="formSubmitted")
            h4(v-text="vue.envio")
      .col40.wow.fadeInLeft(data-wow-duration="2s" data-wow-delay="0.2s")
        h2.section__subtitle Oficina principal
        p.section__text Calle Juan Jose Perez No. 1354 entre Av. Gral Campero y Walter Rocha,<br>Zona Hipódromo<br>COCHABAMBA - BOLIVIA.
        p Mrhandyhand10@gmail.com<br>Teléfono: 4297710  Cel.75942929<br><span>aFacebook - Mrhandy hand</span>
        h2.section__subtitle Empleos
        p.section__text Para aplicar a un trabajo en MrHH ALUMINUM COMPAÑÍA DE SERVICIO, envía tu CV y carta de recomendación a: mrhandyhand10@gmail.com
        h2.section__subtitle.section__subtitle_line Recibe un presupuesto: Telf: 4297710 - 75942929

