@charset "UTF-8";
/* This boilerplate is based in ITCSS and SMACSS Boilerplate URI: https://gitlab.com/2062nandes/nandes-boilerplate Author: Fernando Averanga Aruquipa Author URI: nandes.ingssistemas@gmail.com Description: This boilerplate is based in ITCSS and SMACSS, based on Edgrid, EDboilerplate */
*,:after,:before { box-sizing: border-box; }

body { margin: 0; font-family: sans-serif; }

img { max-width: 100%; height: auto; }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

p { color: #3b3a3a; line-height: 1.5; }

figure { margin: 0; }

figure figcaption { margin-top: 10px; }

.contenedor,.section { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: 1050px; margin-left: auto; margin-right: auto; width: 100%; }

.col,.col25,.col30,.col40,.col60,.col70,.form_contact,.header__logo,.header__menu,.item,.map,.product,.proyectos__card,.slider__title { margin: 0; padding-left: .9375em; padding-right: .9375em; }

.item { width: 100%; }

.item.contenedor { padding-left: 0; padding-right: 0; }

.button { display: inline-block; line-height: 2.5em; padding: 0 1.5em; cursor: pointer; margin-bottom: 1em; border: none; }

.item.s-5,.s-5 { width: 5%; }

.item.s-10,.s-10 { width: 10%; }

.item.s-15,.s-15 { width: 15%; }

.item.s-20,.s-20 { width: 20%; }

.item.s-25,.s-25 { width: 25%; }

.item.s-30,.s-30 { width: 30%; }

.item.s-35,.s-35 { width: 35%; }

.item.s-40,.s-40 { width: 40%; }

.item.s-45,.s-45 { width: 45%; }

.item.s-50,.s-50 { width: 50%; }

.item.s-55,.s-55 { width: 55%; }

.item.s-60,.s-60 { width: 60%; }

.item.s-65,.s-65 { width: 65%; }

.item.s-70,.s-70 { width: 70%; }

.item.s-75,.s-75 { width: 75%; }

.item.s-80,.s-80 { width: 80%; }

.item.s-85,.s-85 { width: 85%; }

.item.s-90,.s-90 { width: 90%; }

.item.s-95,.s-95 { width: 95%; }

.item.s-100,.s-100 { width: 100%; }

.item.s-1-3,.s-1-3 { width: 33.33333%; }

.item.s-2-3,.s-2-3 { width: 66.66667%; }

.item.s-3-3,.s-3-3 { width: 100%; }

.item.s-1-6,.s-1-6 { width: 16.66667%; }

.item.s-2-6,.s-2-6 { width: 33.33333%; }

.item.s-3-6,.s-3-6 { width: 50%; }

.item.s-4-6,.s-4-6 { width: 66.66667%; }

.item.s-5-6,.s-5-6 { width: 83.33333%; }

.item.s-6-6,.s-6-6 { width: 100%; }

@media (min-width:550px) { .item.m-5,.m-5 { width: 5%; }
  .item.m-10,.m-10 { width: 10%; }
  .item.m-15,.m-15 { width: 15%; }
  .item.m-20,.m-20 { width: 20%; }
  .item.m-25,.m-25 { width: 25%; }
  .item.m-30,.m-30 { width: 30%; }
  .item.m-35,.m-35 { width: 35%; }
  .item.m-40,.m-40 { width: 40%; }
  .item.m-45,.m-45 { width: 45%; }
  .item.m-50,.m-50 { width: 50%; }
  .item.m-55,.m-55 { width: 55%; }
  .item.m-60,.m-60 { width: 60%; }
  .item.m-65,.m-65 { width: 65%; }
  .item.m-70,.m-70 { width: 70%; }
  .item.m-75,.m-75 { width: 75%; }
  .item.m-80,.m-80 { width: 80%; }
  .item.m-85,.m-85 { width: 85%; }
  .item.m-90,.m-90 { width: 90%; }
  .item.m-95,.m-95 { width: 95%; }
  .item.m-100,.m-100 { width: 100%; }
  .item.m-1-3,.m-1-3 { width: 33.33333%; }
  .item.m-2-3,.m-2-3 { width: 66.66667%; }
  .item.m-3-3,.m-3-3 { width: 100%; }
  .item.m-1-6,.m-1-6 { width: 16.66667%; }
  .item.m-2-6,.m-2-6 { width: 33.33333%; }
  .item.m-3-6,.m-3-6 { width: 50%; }
  .item.m-4-6,.m-4-6 { width: 66.66667%; }
  .item.m-5-6,.m-5-6 { width: 83.33333%; }
  .item.m-6-6,.m-6-6 { width: 100%; } }

@media (min-width:840px) { .item.l-5,.l-5 { width: 5%; }
  .item.l-10,.l-10 { width: 10%; }
  .item.l-15,.l-15 { width: 15%; }
  .item.l-20,.l-20 { width: 20%; }
  .item.l-25,.l-25 { width: 25%; }
  .item.l-30,.l-30 { width: 30%; }
  .item.l-35,.l-35 { width: 35%; }
  .item.l-40,.l-40 { width: 40%; }
  .item.l-45,.l-45 { width: 45%; }
  .item.l-50,.l-50 { width: 50%; }
  .item.l-55,.l-55 { width: 55%; }
  .item.l-60,.l-60 { width: 60%; }
  .item.l-65,.l-65 { width: 65%; }
  .item.l-70,.l-70 { width: 70%; }
  .item.l-75,.l-75 { width: 75%; }
  .item.l-80,.l-80 { width: 80%; }
  .item.l-85,.l-85 { width: 85%; }
  .item.l-90,.l-90 { width: 90%; }
  .item.l-95,.l-95 { width: 95%; }
  .item.l-100,.l-100 { width: 100%; }
  .item.l-1-3,.l-1-3 { width: 33.33333%; }
  .item.l-2-3,.l-2-3 { width: 66.66667%; }
  .item.l-3-3,.l-3-3 { width: 100%; }
  .item.l-1-6,.l-1-6 { width: 16.66667%; }
  .item.l-2-6,.l-2-6 { width: 33.33333%; }
  .item.l-3-6,.l-3-6 { width: 50%; }
  .item.l-4-6,.l-4-6 { width: 66.66667%; }
  .item.l-5-6,.l-5-6 { width: 83.33333%; }
  .item.l-6-6,.l-6-6 { width: 100%; } }

@media (min-width:1024px) { .item.xl-5,.xl-5 { width: 5%; }
  .item.xl-10,.xl-10 { width: 10%; }
  .item.xl-15,.xl-15 { width: 15%; }
  .item.xl-20,.xl-20 { width: 20%; }
  .item.xl-25,.xl-25 { width: 25%; }
  .item.xl-30,.xl-30 { width: 30%; }
  .item.xl-35,.xl-35 { width: 35%; }
  .item.xl-40,.xl-40 { width: 40%; }
  .item.xl-45,.xl-45 { width: 45%; }
  .item.xl-50,.xl-50 { width: 50%; }
  .item.xl-55,.xl-55 { width: 55%; }
  .item.xl-60,.xl-60 { width: 60%; }
  .item.xl-65,.xl-65 { width: 65%; }
  .item.xl-70,.xl-70 { width: 70%; }
  .item.xl-75,.xl-75 { width: 75%; }
  .item.xl-80,.xl-80 { width: 80%; }
  .item.xl-85,.xl-85 { width: 85%; }
  .item.xl-90,.xl-90 { width: 90%; }
  .item.xl-95,.xl-95 { width: 95%; }
  .item.xl-100,.xl-100 { width: 100%; }
  .item.xl-1-3,.xl-1-3 { width: 33.33333%; }
  .item.xl-2-3,.xl-2-3 { width: 66.66667%; }
  .item.xl-3-3,.xl-3-3 { width: 100%; }
  .item.xl-1-6,.xl-1-6 { width: 16.66667%; }
  .item.xl-2-6,.xl-2-6 { width: 33.33333%; }
  .item.xl-3-6,.xl-3-6 { width: 50%; }
  .item.xl-4-6,.xl-4-6 { width: 66.66667%; }
  .item.xl-5-6,.xl-5-6 { width: 83.33333%; }
  .item.xl-6-6,.xl-6-6 { width: 100%; } }

.to-center { display: block; margin-right: auto; margin-left: auto; }

.to-left { float: left; width: auto; margin-right: 1em; }

.to-right { float: right; width: auto; margin-left: 1em; }

.full { max-width: 100%; }

.circle { border-radius: 50%; }

.clearfix:after,.clearfix:before { content: ""; width: 100%; display: table; clear: both; }

.no-padding.contenedor>.item,.no-padding.item { padding-left: 0; padding-right: 0; }

.padding { padding-left: .9375em; padding-right: .9375em; }

.padding-2 { padding-left: 1.875em; padding-right: 1.875em; }

.padding-3 { padding-left: 2.8125em; padding-right: 2.8125em; }

body.sticky-footer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; min-height: 100vh; }

body.sticky-footer>footer { margin-top: auto; }

.main-justify { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.main-distribute,.main-justify { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.main-distribute { -ms-flex-pack: distribute; justify-content: space-around; }

.main-center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.main-center,.main-start { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.main-start { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.main-end { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.cross-start,.main-end { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.cross-start { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-line-pack: start; align-content: flex-start; }

.cross-center { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; }

.cross-center,.cross-end { display: -webkit-box; display: -ms-flexbox; display: flex; }

.cross-end { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -ms-flex-line-pack: end; align-content: flex-end; }

.flex-reverse { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }

.flex-column,.flex-reverse { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.flex-column { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.flex-column-reverse { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }

.abcenter,.flex-column-reverse { display: -webkit-box; display: -ms-flexbox; display: flex; }

.abcenter { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; }

.from-s,.to-s { display: none; }

@media screen and (max-width:549px) { .from-m { display: none; } }

@media screen and (min-width:550px) { .to-m { display: none; } }

@media screen and (max-width:839px) { .from-l { display: none; } }

@media screen and (min-width:840px) { .to-l { display: none; } }

@media screen and (max-width:1023px) { .from-xl { display: none; } }

@media screen and (min-width:1024px) { .to-xl { display: none; } }

.ed-video { height: 0; overflow: hidden; padding-bottom: 56.25%; position: relative; }

.ed-video>.video,.ed-video>iframe,.ed-video>video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.button { background: #ddd; color: #333; }

.button:hover { background: #d0d0d0; text-decoration: none; }

.button:active { -webkit-transform: scale(.97); transform: scale(.97); }

.header { width: 100%; background: rgba(0,0,0,.7); position: fixed; top: 0; z-index: 2; }

.header img { width: 250px; }

.header__content { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: 1250px; margin-left: auto; margin-right: auto; width: 100%; }

.header__logo { width: 100%; }

@media screen and (min-width:550px) { .header__logo { width: 50%; } }

@media screen and (min-width:840px) { .header__logo { width: 25%; } }

@media screen and (min-width:1024px) { .header__logo { width: 30%; } }

@media screen and (max-width:549px) { .header__logo { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

.header__menu { width: 100%; display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; display: flex; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; }

@media screen and (min-width:550px) { .header__menu { width: 50%; } }

@media screen and (min-width:840px) { .header__menu { width: 75%; } }

@media screen and (min-width:1024px) { .header__menu { width: 70%; } }

.contenedor { margin: auto; position: relative; }

.slider { width: 100%; background-image: url(fondo.jpg); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; border: 1px solid #fff; }

.slider__down { display: inline-block; font-size: 10rem; font-weight: 100; -webkit-transform: rotate(90deg) scaleX(.4); transform: rotate(90deg) scaleX(.4); color: #fff; margin: auto; }

.slider__down:hover { text-decoration: none; }

.slider__title { width: 100%; color: #fff; line-height: 1.15; font-weight: 600; margin: auto; margin-top: 180px; text-align: center; padding: 0; }

@media screen and (min-width:550px) { .slider__title { width: 80%; } }

@media screen and (min-width:840px) { .slider__title { width: 75%; } }

@media screen and (min-width:550px) { .slider__title { font-size: 3.2rem; } }

@media screen and (min-width:840px) { .slider__title { font-size: 3.5rem; } }

@media screen and (min-width:1024px) { .slider__title { font-size: 3.7rem; } }

@media screen and (max-width:549px) { .slider__title { font-size: 2rem; } }

.contactos { background: linear-gradient(#011b72,transparent 380%),url(pattern.png) repeat 0 0; padding: 20px; }

.contactos .contenedor { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 15px 0; -ms-flex-pack: distribute; justify-content: space-around; }

.contactos .col-1 { width: 300px; padding: 0 10px; }

.contactos label { color: #fff; margin-left: 10px; }

.contactos input { width: 280px; height: 25px; border-radius: 5px; margin-bottom: 10px; }

.contactos textarea { width: 280px; max-width: 280px; min-width: 280px; height: 150px; min-height: 150px; max-height: 200px; }

.contactos iframe { width: 800px; height: 550px; }

.contactos h1 { font-family: Encode Sans Condensed,sans-serif; font-weight: 200; font-size: 2.6875rem; text-align: center; color: #fff; }

#boton { margin-right: 5px; float: left; width: 48%; background: #011b72; color: #fff; transition: all .5s; }

#boton:hover { font-weight: 700; letter-spacing: 0.09375rem; }

.servicios { padding: 40px 0; }

.servicios .contenedor { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

.col h3 { text-align: center; margin-top: 15px; }

.col p { padding: 0 15px; text-align: initial; line-height: 1.5; }

.col { width: 100%; padding-bottom: 15px; }

@media screen and (min-width:550px) { .col { width: 50%; } }

@media screen and (min-width:840px) { .col { width: 33.33%; } }

.col img { width: 100%; -o-object-fit: cover; object-fit: cover; height: 300px; }

.col figcaption { margin-top: 10px; background: #f1f3f9; padding: 10px 0; }

.nosotros { background-image: url(fondo1.jpg); width: 100%; padding-top: 10px; background-size: cover; background-attachment: fixed; }

.nosotros .col { background: #fff; width: 550px; padding: 20px; }

.nosotros .col p { font-size: 0.9375rem; }

.datos { background: #edcd1f; }

.datos .col { background: transparent; border-right: 3px solid #fff; }

.datos .col:nth-child(4) { border: none; }

.datos .contenedor h5 { color: #fff; text-align: center; font-size: 3.75rem; }

.datos .contenedor p { text-align: center; }

.datos .contenedor { padding: 30px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

.section__contact { padding: 40px 0; }

.section__title { position: relative; width: 100%; text-align: center; color: #c6c6c6; margin-bottom: 30px; margin-top: 10px; padding-bottom: 20px; text-transform: uppercase; }

@media screen and (min-width:840px) { .section__title { font-size: 3.75rem; } }

@media screen and (min-width:550px) and (max-width:839px) { .section__title { font-size: 2.9375rem; } }

@media screen and (max-width:549px) { .section__title { font-size: 2.1875rem; } }

.section__title:after { content: ""; position: absolute; bottom: 0; left: 50%; height: 100px; width: 100px; -webkit-transform: translate(-50%); transform: translate(-50%); border-bottom: 10px solid #edcd1f; }

.section__subtitle { color: #375a72; }

.section__subtitle_line { position: relative; padding-top: 30px; }

.section__subtitle_line:before { content: ""; position: absolute; top: 0; left: 0; width: 70px; border-top: 10px solid #f4ca49; }

.section__subtitle a { color: inherit; }

.proyectos { padding: 40px 0; }

.proyectos__card { position: relative; width: 100%; margin-bottom: 30px; }

@media screen and (min-width:550px) { .proyectos__card { width: 50%; } }

.proyectos__card:hover .proyectos__card_descrip { position: absolute; width: 100%; height: 100%; background: hsla(0,0%,100%,.65); }

.proyectos__card_content { position: relative; width: 100%; height: 100%; font-size: 0; }

.proyectos__card_content>img { width: 100%; }

.proyectos__card_descrip { position: absolute; width: 100%; height: 0%; top: 0; left: 0; overflow: hidden; display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; display: flex; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; transition: all .5s; }

.proyectos__card_descrip p { color: #375a72; font-weight: 600; font-size: 1.7rem; }

.construccion { padding: 40px 0; background: #f0f0f0; }

.construccion .contenedor { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.animated.hinge { -webkit-animation-duration: 2s; animation-duration: 2s; }

.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY { -webkit-animation-duration: .75s; animation-duration: .75s; }

@-webkit-keyframes a { 0% { opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0); }
  to { opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes a { 0% { opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0); }
  to { opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInLeft { -webkit-animation-name: a; animation-name: a; }

@-webkit-keyframes b { 0% { opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0); }
  to { opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes b { 0% { opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0); }
  to { opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInRight { -webkit-animation-name: b; animation-name: b; }

.col40 { width: 100%; }

@media screen and (min-width:550px) { .col40 { width: 50%; } }

@media screen and (min-width:840px) { .col40 { width: 40%; } }

.col60 { width: 100%; }

@media screen and (min-width:550px) { .col60 { width: 50%; } }

@media screen and (min-width:840px) { .col60 { width: 60%; } }

.col30 { width: 100%; }

@media screen and (min-width:550px) { .col30 { width: 50%; } }

@media screen and (min-width:840px) { .col30 { width: 30%; } }

.col70 { width: 100%; }

@media screen and (min-width:550px) { .col70 { width: 50%; } }

@media screen and (min-width:840px) { .col70 { width: 70%; } }

.col25 { width: 100%; }

@media screen and (min-width:550px) { .col25 { width: 50%; } }

@media screen and (min-width:840px) { .col25 { width: 25%; } }

.col25_border:nth-child(-n+3) { border-right: 2.5px solid #606060; -o-border-image: linear-gradient(transparent 25%,#fff 0,#fff 0,#fff 75%,transparent 0); border-image: linear-gradient(transparent 25%,#fff 0,#fff 0,#fff 75%,transparent 0); border-image-slice: 1; }

.header__link { display: inline-block; padding: 5px 15px; color: #fff; width: 130px; text-decoration: none; text-align: center; font-size: 0.9375rem; border-radius: 5px; margin-left: 5px; margin-right: 5px; }

.header__items { list-style: none; padding-left: 0; }

.header__items li { position: relative; }

.header__items li:hover .header__link { color: #ff0; text-decoration: none; }

.header__items li:hover .header__subitems { -webkit-transform: perspective(2500px) rotateX(0); transform: perspective(2500px) rotateX(0); opacity: 1; }

.header__subitems { position: absolute; padding-top: 2.85rem; padding-left: 0; padding-right: 0; list-style: none; box-shadow: 0 1px 0 0 #000; will-change: transform,opacity; opacity: 0; -webkit-transform: perspective(2500px) rotateX(-90deg); transform: perspective(2500px) rotateX(-90deg); -webkit-transform-origin: top; transform-origin: top; transition: .5s; }

@media screen and (max-width:839px) { .header__subitems { display: none; } }

.header__subitems li { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; background: #fff; border-bottom: 1px solid #e6e6e6; }

.header__subitems li>a { width: 100%; padding: 1em; color: #375a72; }

.header__subitems li>a:hover { text-decoration: none; background: #dfdfdf; }

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

input[type=number] { -moz-appearance: textfield; }

.form { padding: 0; }

.form_contact { width: 100%; }

@media screen and (min-width:550px) { .form_contact { width: 90%; } }

@media screen and (min-width:840px) { .form_contact { width: 80%; } }

.form__input { background: #ebebeb; color: #0b0b0c; width: 100%; margin-bottom: 10px; padding: 7px; border-radius: 2px; font-family: sans-serif; font-size: 1rem; }

.form_buttons { text-align: end; }

.form__button { width: 100px; font-size: 1.1rem; line-height: 1.1; padding: 10px; margin-left: 20px; margin-bottom: 15px; background: #375a72; color: #fff; z-index: 1; will-change: transform; transition: all .3s ease-out; }

.form__button:hover { transition: all .2s ease-out; -webkit-transform: translate3d(-4px,4px,0); transform: translate3d(-4px,4px,0); }

.button__initial { display: inline-block; background: linear-gradient(#487594,#375a72); padding: 15px; font-size: 1rem; color: #fff; text-shadow: 1px 1px 1px #263f50; border-radius: 5px; margin: auto; }

[disabled=disabled] { cursor: not-allowed; }

.product { width: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media screen and (min-width:550px) { .product { width: 33.33%; } }

@media screen and (min-width:840px) { .product { width: 20%; } }

.product__content { position: relative; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.product__content,.product__content:hover { transition:-webkit-transform .5s; transition:transform .5s; transition: transform .5s,-webkit-transform .5s; }

.product__content:hover .product__img_prod { -webkit-transform: translate(-50%) perspective(2500px) rotateY(0); transform: translate(-50%) perspective(2500px) rotateY(0); opacity: 1; }

.product__content:hover .product__img_logo { -webkit-transform: perspective(2500px) rotateY(-180deg); transform: perspective(2500px) rotateY(-180deg); opacity: 0; }

.product__img_prod { position: absolute; top: 0; left: 50%; -webkit-transform: translate(-50%) perspective(2500px) rotateY(180deg); transform: translate(-50%) perspective(2500px) rotateY(180deg); transition: all .5s; opacity: 0; }

.product__img_logo { -webkit-transform: perspective(2500px) rotateY(0); transform: perspective(2500px) rotateY(0); opacity: 1; transition: all .5s; }

/*! baguetteBox.js @author  feimosi @version %%INJECT_VERSION%% @url https://github.com/feimosi/baguetteBox.js */
#baguetteBox-overlay { display: none; opacity: 0; position: fixed; overflow: hidden; top: 0; left: 0; width: 100%; height: 100%; z-index: 3; background-color: #222; background-color: rgba(0,0,0,.8); transition: opacity .5s ease; }

#baguetteBox-overlay.visible { opacity: 1; }

#baguetteBox-overlay .full-image { display: inline-block; position: relative; width: 100%; height: 100%; text-align: center; }

#baguetteBox-overlay .full-image figure { display: inline; margin: 0; height: 100%; }

#baguetteBox-overlay .full-image img { display: inline-block; width: auto; height: auto; max-height: 100%; max-width: 100%; vertical-align: middle; box-shadow: 0 0 8px rgba(0,0,0,.6); }

#baguetteBox-overlay .full-image figcaption { display: block; position: absolute; bottom: 0; width: 100%; text-align: center; line-height: 1.8; white-space: normal; color: #ccc; background-color: #000; background-color: rgba(0,0,0,.6); font-family: sans-serif; }

#baguetteBox-overlay .full-image:before { content: ""; display: inline-block; height: 50%; width: 1px; margin-right: -1px; }

#baguetteBox-slider { position: absolute; left: 0; top: 0; height: 100%; width: 100%; white-space: nowrap; transition:left .4s ease,-webkit-transform .4s ease; transition:left .4s ease,transform .4s ease; transition: left .4s ease,transform .4s ease,-webkit-transform .4s ease; }

#baguetteBox-slider.bounce-from-right { -webkit-animation: c .4s ease-out; animation: c .4s ease-out; }

#baguetteBox-slider.bounce-from-left { -webkit-animation: d .4s ease-out; animation: d .4s ease-out; }

@-webkit-keyframes c { 0% { margin-left: 0; }
  50% { margin-left: -30px; }
  to { margin-left: 0; } }

@keyframes c { 0% { margin-left: 0; }
  50% { margin-left: -30px; }
  to { margin-left: 0; } }

@-webkit-keyframes d { 0% { margin-left: 0; }
  50% { margin-left: 30px; }
  to { margin-left: 0; } }

@keyframes d { 0% { margin-left: 0; }
  50% { margin-left: 30px; }
  to { margin-left: 0; } }

.baguetteBox-button#next-button,.baguetteBox-button#previous-button { top: 50%; top: calc(50% - 30px); width: 44px; height: 60px; }

.baguetteBox-button { position: absolute; cursor: pointer; outline: none; padding: 0; margin: 0; border: 0; border-radius: 15%; background-color: #323232; background-color: rgba(50,50,50,.5); color: #ddd; font: 1.6em sans-serif; transition: background-color .4s ease; }

.baguetteBox-button:focus,.baguetteBox-button:hover { background-color: rgba(50,50,50,.9); }

.baguetteBox-button#next-button { right: 2%; }

.baguetteBox-button#previous-button { left: 2%; }

.baguetteBox-button#close-button { top: 20px; right: 2%; right: calc(2% + 6px); width: 30px; height: 30px; }

.baguetteBox-button svg { position: absolute; left: 0; top: 0; }

/* Preloader Borrowed from http://tobiasahlin.com/spinkit/ */
.baguetteBox-spinner { width: 40px; height: 40px; display: inline-block; position: absolute; top: 50%; left: 50%; margin-top: -20px; margin-left: -20px; }

.baguetteBox-double-bounce1,.baguetteBox-double-bounce2 { width: 100%; height: 100%; border-radius: 50%; background-color: #fff; opacity: .6; position: absolute; top: 0; left: 0; -webkit-animation: e 2s infinite ease-in-out; animation: e 2s infinite ease-in-out; }

.baguetteBox-double-bounce2 { -webkit-animation-delay: -1s; animation-delay: -1s; }

@-webkit-keyframes e { 0%,to { -webkit-transform: scale(0); transform: scale(0); }
  50% { -webkit-transform: scale(1); transform: scale(1); } }

@keyframes e { 0%,to { -webkit-transform: scale(0); transform: scale(0); }
  50% { -webkit-transform: scale(1); transform: scale(1); } }

@font-face { font-family: fontello; src: url(../font/fontello.eot?90589271); src: url(../font/fontello.eot?90589271#iefix) format("embedded-opentype"),url(../font/fontello.woff2?90589271) format("woff2"),url(../font/fontello.woff?90589271) format("woff"),url(../font/fontello.ttf?90589271) format("truetype"),url(../font/fontello.svg?90589271#fontello) format("svg"); font-weight: 400; font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/* @media screen and (-webkit-min-device-pixel-ratio:0) { @font-face { font-family: 'fontello'; src: url('../font/fontello.svg?90589271#fontello') format('svg'); } } */
[class*=" icon-"]:before,[class^=icon-]:before { font-family: fontello; font-style: normal; font-weight: 400; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: .2em; text-align: center; /* opacity: .8; */ /* For safety - reset parent styles, that can break glyph codes*/ font-variant: normal; text-transform: none; /* fix buttons height, for twitter bootstrap */ line-height: 1em; /* Animation center compensation - margins should be symmetric */ /* remove if not needed */ margin-left: .2em; /* you can be more comfortable with increased icons size */ /* font-size: 120%; */ /* Font smoothing. That was taken from TWBS */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; /* Uncomment for 3D effect */ /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-inicio:before { content: "\e801"; }

/* '' */
.icon-contactos:before { content: "\e802"; }

/* '' */
.icon-nosotros:before { content: "\e803"; }

/* '' */
.icon-youtube:before { content: "\e804"; }

/* '' */
.icon-direccion:before { content: "\f031"; }

/* '' */
.icon-twitter:before { content: "\f099"; }

/* '' */
.icon-facebook:before { content: "\f09a"; }

/* '' */
.icon-menu:before { content: "\f0c9"; }

/* '' */
.icon-whatsapp:before { content: "\f232"; }

/* '' */
.icon-gplus:before { content: "\f30f"; }

/* '' */
.icon-zoom { width: 50px; }

.year__number { margin: 0; }

.map { margin: auto; width: 100%; height: 480px; }

@media screen and (min-width:550px) { .map { width: 90%; } }

@media screen and (min-width:840px) { .map { width: 80%; } }

@media screen and (min-width:1024px) { .map { width: 75%; } }

.ah { color: #0b0b0c; opacity: .3; }

.marker { display: inline-block; padding: 0 4px; background: hsla(0,0%,100%,.445); color: #1a1a1a; border-radius: 20px; box-shadow: 1px 1px 1px #000; }

.marker:hover { text-decoration: none; background: #fff; color: #000; }

.my-slider { position: relative; height: 100%; }

.footer-carousel { background: #fff; height: 116px; box-shadow: inset 0 0 10px 0 #000; }

.tns__carousel,.tns__img { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; width: 100%; height: 100%; }

.tns__img { -o-object-fit: cover; object-fit: cover; }

.tns__carousel { -o-object-fit: contain; object-fit: contain; height: 100px; padding: 8px; }

.social { padding-left: 0; text-align: center; margin-top: 10px; }

.social__icon { display: inline-block; }

.social a { text-decoration: none; }

.social .icon-facebook,.social .icon-twitter,.social .icon-youtube { color: #000; background: radial-gradient(hsla(0,0%,100%,.67) 0,hsla(0,0%,100%,.43) 250%); box-shadow: 0 0 1px 0 #000; }

.social .icon-facebook:hover,.social .icon-twitter:hover,.social .icon-youtube:hover { color: #fff; -webkit-transform: rotate(1turn); transform: rotate(1turn); }

.icon-facebook,.icon-twitter,.icon-youtube { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 50px; height: 50px; padding-top: .55rem; font-size: 2rem; border-radius: 50px; transition: all .5s; margin: 0 5px; }

.icon-facebook:hover,.icon-twitter:hover,.icon-youtube:hover { text-shadow: 0 1px 0 #fff; }

.icon-facebook:hover { background: #4862a3; }

.icon-youtube:hover { background: #fd0000; }

.icon-twitter:hover { background: #1ca0f1; }

.cover { width: 100%; height: 250px; -o-object-fit: cover; object-fit: cover; }

.center { text-align: center; }

/*# sourceMappingURL=styles.css.map */
