// RWD Bases
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin      : 0;
  font-family : sans-serif;
}

// Imágenes responsive
img {
  max-width : 100%;
  height    : auto;
}

a {
  text-decoration : none;

  &:hover { text-decoration : underline }
}
p{
  color: #3B3A3A;
  line-height: 1.5;
}
figure{
  margin: 0;
  figcaption{
    margin-top: 10px;
  }
}