doctype html
html(lang="es" prefix="og: http://ogp.me/ns#")
  head
    title MRHH - COMPAÑÍA DE SERVICIOS
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name='designer', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
    meta(name='description', content='ROMERH. Perforación de pozos de agua, tratamiento y purificación de agua. Bombas de agua sumergibles  Saer, Rotor Pump, Leo y Franklin: Industriales y domiciliarias, servicio técnico a domicilio . Atemperado de piscinas Peisa y Vulcano: Calentadores, insumos y accesorios. Maquinaria de construcción Weber, Helvi, Makita, Enar y Sima: Vibro compactadoras, cortadoras de asfalto, mangueras vibradoras, generadores de electricidad, motobombas, hidrolavadoras  industriales.')
    meta(property="og:title" content="MRHH - COMPAÑÍA DE SERVICIOS")
    meta(property="og:description" content="ROMERH. Perforación de pozos de agua, tratamiento y purificación de agua. Bombas de agua sumergibles  Saer, Rotor Pump, Leo y Franklin: Industriales y domiciliarias, servicio técnico a domicilio . Atemperado de piscinas Peisa y Vulcano: Calentadores, insumos y accesorios. Maquinaria de construcción Weber, Helvi, Makita, Enar y Sima: Vibro compactadoras, cortadoras de asfalto, mangueras vibradoras, generadores de electricidad, motobombas, hidrolavadoras  industriales.")  
    meta(name='author', content='')
    meta(name='keywords', content='')
    link(rel="stylesheet" href="css/styles.css")
  body
    #app
      header.header#inicio(style="position: relative")
        .header__content
          a.header__logo(data-scroll href='#inicio')
            img(src='img/logo.png', alt='MRHH - COMPAÑÍA DE SERVICIOS')
          nav.header__menu
            a.header__link(data-scroll href='#inicio') INICIO
            a.header__link(data-scroll href='#servicios') SERVICIOS
            a.header__link(data-scroll href='#nosotros') NOSOTROS
            a.header__link(data-scroll href='#proyectos') PROYECTOS
            a.header__link(data-scroll href='#contactos') CONTACTOS
      block main
      footer.footer
        .contenedor
          .col70
            p.footer__text Todos los Derechos Reservados ®. <span><strong>MRHH ALUMINUM COMPAÑÍA DE SERVICIOS.</strong> © <span id="currentDate"></span></span>
          .col30  
            p.footer__text: a.ah(href='//ahpublic.com', target='_blank') Programación: AH! PUBLICIDAD
    script(src="js/scripts.js")
