.body{

}
.header{
	width: 100%;
	background:rgba(0,0,0,0.7);
	position: fixed;
	top: 0px;
	z-index: 100;
  img{
    width: 250px;
  
	}
	&__content{
		display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
	}
	&__logo{
		@include edItem(100, 50,25,30);
		@include to(m){
			@include mainCenter;
		}
	}
	&__menu{
		@include edItem(100, 50,75,70);
		@include mainEnd;
		@include crossCenter;
	}
}
.footer{

}
.main{

}
.section{

}
.aside{

}


section{

}
.contenedor{
	margin:auto;
	position: relative;	
}
.slider{
	width: 100%;
	background-image:url(fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border: 1px solid white;
	&__down{
		display: inline-block;
		font-size: 10rem;
		font-weight: 100;
		transform: rotate(90deg) scaleX(.4);
		color: white;
		margin: auto;
		&:hover{
			text-decoration: none;
		}
	}
  &__title{
		@include edItem(100, 80, 75);
		color: $white;
		@include from(m){
			font-size: 3.2rem;
		}
		@include from(l){
			font-size: 3.5rem;
		}
		@include from(xl){
			font-size: 3.7rem;
		}
		@include to(m){
			font-size: 2rem;
		}
		line-height: 1.15;
		font-weight: 600;
		margin: auto;
		margin-top: 180px;
		text-align: center;
		padding: 0;
	}
}
.slider p{
	
}
.contactos{
	background: linear-gradient(#011B72,transparent 380%),url(pattern.png) repeat 0 0;
	padding:20px;
}
.contactos .contenedor{

	display: flex;
	padding: 15px 0px;
	justify-content: space-around;
}
.contactos .col-1{
	width: 300px;
	padding: 0px 10px;
}
.contactos label{
	color: #fff;
	margin-left: 10px;

}
.contactos input{
	width: 280px;
	height: 25px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.contactos textarea{
	width: 280px;
	max-width: 280px;
	min-width: 280px;
	height: 150px;
	min-height: 150px;
	max-height: 200px;
}
.contactos iframe{
	width: 800px;
	height: 550px;
}
.contactos h1{
	font-family: 'Encode Sans Condensed', sans-serif;
	font-weight: 200;
	font-size: 43px;
	text-align: center;
	color: #fff;
}
#boton{
	margin-right: 5px;
	float: left;
	width: 48%;
	background:#011B72;
	color: #fff;
	transition: all 0.5s;
}
#boton:hover{
	font-weight: bold;
	letter-spacing: 1.5px;
}
.servicios{
	padding: 40px 0px;
}
.servicios .contenedor{
	display: flex;
	justify-content: space-around;
}
.col h3{
	text-align: center;
	margin-top: 15px;

}
.col p{
	padding: 0px 15px;
  text-align: initial;
  line-height: 1.5;
}
.col{
	@include edItem(100,50,33.33);
	padding-bottom: 15px;
	img{
		width: 100%;
		object-fit: cover;
    height: 300px;
	}
	figcaption{
		margin-top: 10px;
		background: #F1F3F9;
    padding: 10px 0;
	}
}
.nosotros{
	background-image: url(fondo1.jpg);
	width: 100%;
	padding-top: 10px;
	background-size: cover;
  background-attachment: fixed;
	.col{	
		background: rgba(255,255,255,1);
		width: 550px;
		padding:20px; 
	
	}
	.col p{
		font-size: 15px;
	}
}
.datos{
	background: rgba(237, 205, 31, 1);
	.col{
		background:transparent;
		border-right: 3px solid #fff;		
	}
}
.datos .col:nth-child(4){
	border:none;
}
.datos .contenedor h5{
	color: #fff;
	text-align: center;
	font-size: 60px;
}
.datos .contenedor p{
	text-align: center;
}
.datos .contenedor{
	padding: 30px 0px;
	display: flex;
	justify-content: space-around;
}

.section{
  @include edContainer;
	&__contact{
		padding: 40px 0;
	}
	&__title{
		position: relative;
		width: 100%;
		text-align: center;
		color: #c6c6c6;
    margin-bottom: 30px;
    margin-top: 10px;
		padding-bottom: 20px;
		text-transform: uppercase;
		@include from(l){
			font-size: 60px;
		}
		@include fromTo(m,l){
			font-size: 47px;
		}
		@include to(m){
			font-size: 35px;
		}
		&::after{
			content: '';
			position: absolute;
			bottom: 0;left: 50%;
			height: 100px;
			width: 100px;
			transform: translate(-50%);
			border-bottom: solid 10px rgba(237, 205, 31, 1);
		}
	}
	&__subtitle {
		color: $gray;
		&_line{
			position: relative;
			padding-top: 30px;
			&::before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 70px;
				border-top: solid $yellow 10px;
			}
		}
		a{ color: inherit }
	}
}
.proyectos{
	padding: 40px 0;
	&__card{
		position: relative;
		@include edItem(100, 50);
		margin-bottom: 30px;
		&:hover{
			.proyectos__card_descrip{
				position: absolute;
				width: 100%;
				height: 100%;
				background: transparentize($white, 0.35);
			}
		}
		&_content{
			position: relative;
			width: 100%;
			height: 100%;
			font-size: 0;
			& > img{
				width: 100%;
			}
		}
		&_descrip{
			position: absolute;
			width: 100%;
			height: 0%;
			top: 0;
			left: 0;
			overflow: hidden;
			@include crossCenter;
			@include mainCenter;
			transition: 0.5s all;
			p{
				color: $gray;
				font-weight: 600;
				font-size: 1.7rem;
    	}		
		}
	}
}
.construccion{
  padding: 40px 0;
	background: lighten($silver, 17);
	.contenedor{
		@include mainCenter;
	}
}