@if $cssCore == true {
  // offset
  @include cssOffset();

  // flexbox order
  @include flexOrder();

  // Incluir alineaciones en main axis
  @include cssMainJustify();
  @include cssMainDistribute();
  @include cssMainStart();
  @include cssMainCenter();
  @include cssMainEnd();

  // Alineaciones en cross axis
  @include cssCrossStart();
  @include cssCrossCenter();
  @include cssCrossEnd();

  // Dirección del main axis
  @include cssFlexReverse();
  @include cssFlexColumn();
  @include cssFlexColumnReverse();

  //grids
  .grid-container.grid-1234 { @include grid('.grid-item', 1 2 3 4) }
  .grid-container.grid-2345 { @include grid('.grid-item', 2 3 4 5) }

  // devMode
  body.dev,
  body.desarrollo {
    @include devMode();
    .ed-container { @include devModeContainer; }
    .ed-item      { @include devModeItem; }
  }

  // Botones
  .button,
  button {
    @include button();
    &.round  { @include button(#DDD, #333, round) }
    &.radius { @include button(#DDD, #333, radius) }
  }

  // Menus
  // se requiere la clase .ed-menu
  // y la clase para cambio a horizontal
  .ed-menu {
    &.s-horizontal  { @include edMenu(s)  }
    &.m-horizontal  { @include edMenu(m)  }
    &.l-horizontal  { @include edMenu(l)  }
    &.xl-horizontal { @include edMenu(xl) }
  }

  .ed-nav {
    &.l-top { @include edNav(top,l)}
    &.l-bottom { @include edNav(bottom,l)}
    &.l-left { @include edNav(left,l)}
    &.l-right { @include edNav(right,l)}
    &.x-top { @include edNav(top,xl)}
    &.xl-bottom { @include edNav(bottom,xl)}
    &.xl-left { @include edNav(left,xl)}
    &.xl-right { @include edNav(right,xl)}
    &.m-top { @include edNav(top,m)}
    &.m-bottom { @include edNav(bottom,m)}
    &.m-left { @include edNav(left,m)}
    &.m-right { @include edNav(right,m)}
  }

  .nav-toggle {
    @include navToggle(20px,#333)
  }
}


