.button{
  &__initial{
    display: inline-block;
    background: linear-gradient(lighten($gray, 10),$gray);
    padding: 15px;
    font-size: 1rem;
    color: $white;
    text-shadow: 1px 1px 1px darken($gray, 10);
    border-radius: 5px;
    margin: auto;
  }
}
[disabled="disabled"]{
  cursor: not-allowed;
}

#btn-instafeed-load{
}