.col40{
  @include edItem(100,50,40);
}
.col60{
  @include edItem(100,50,60);
}
.col30{
  @include edItem(100,50,30);
}
.col70{
  @include edItem(100,50,70);
}
.col25{
  @include edItem(100,50,25);
  &_border{
    &:nth-child(-n+3){
      border-right: 2.5px solid #606060;
      -o-border-image: linear-gradient(transparent 25%,$white 0%,$white 0,$white 75%,transparent 75%);
      border-image: linear-gradient(transparent 25%,$white 0%,$white 0,$white 75%,transparent 75%);
      border-image-slice: 1;
    }
  }
}