// FORM CONTACT INI
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance:textfield;}
.form{
  padding: 0;
  &_contact{
    @include edItem(100,90,80);
  }
  &__input{
    background: lighten($silver, 15);
    color: $black;
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
    border-radius: 2px;
    font-family: sans-serif;
    font-size: 1rem;
  }
}
.form_buttons{
  text-align: end;
}
.form__button {
    width: 100px;
    font-size: 1.1rem;
    line-height: 1.1;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    background: $gray;
    color: $white;  
    // display: inline-block;
    z-index: 1;
    will-change: transform;
    transition: all .3s ease-out;
    &:hover {
      transition: all .2s ease-out;
      transform: translate3d(-4px,4px,0);
    }
}
// FORM CONTACT END