
.header{
  &__link{
		display:inline-block;
		padding: 5px 15px;
		color: #fff;
		width: 130px;
		text-decoration: none;
		text-align: center;
		font-size: 15px;
		border-radius: 5px;	
    margin-left:5px;
    margin-right:5px;
	}
  &__items{
    list-style: none;
    padding-left: 0;
    li{
      position: relative;
      &:hover{
        .header__link{
          color: yellow;
          text-decoration: none;
        }
        .header__subitems{
          transform: perspective(2500px) rotateX(0);
          opacity: 1;
        }
      }
    }
  }
  &__subitems{
    position: absolute;
    padding-top: 2.85rem;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    box-shadow: 0px 1px 0px 0px black;
    will-change: transform,opacity;
    opacity: 0;
    transform: perspective(2500px) rotateX(-90deg);
    transform-origin: top;
    transition: 0.5s;
    @include showFrom(l);
    li{
      @include mainStart;    
      background: $white;
      border-bottom: solid 1px darken($white, 10);
      > a{
        width: 100%;
        padding: 1em;
        color: $gray;
        &:hover{
          text-decoration: none;
          background: lighten($silver, 10);
        }
      }
    }
  }
}