
.product{
  @include edItem(50,33.33, 20);
  @include mainCenter;
  &__content{
    position: relative;
    width: 100%;
    height: 100%;
    @include mainCenter;
    transition: 0.5s transform;
    &:hover{transition: 0.5s transform;
      .product__img_prod{        
        transform: translate(-50%) perspective(2500px) rotateY(0);
        opacity: 1;
      }
      .product__img_logo{
        transform: perspective(2500px) rotateY(-180deg); 
        opacity: 0;
      }  
    }
  }
  &__img_prod{
     position: absolute;
     top: 0;
     left:50%;
     transform: translate(-50%)perspective(2500px) rotateY(180deg);
     transition: 0.5s all;
     opacity: 0;
  }
  &__img_logo{
    transform: perspective(2500px) rotateY(0);
    opacity: 1;
    transition: 0.5s all;
  }
}